# Local/private config goes in the include
[hub]
        protocol = ssh
[core]
        editor = vim
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[user]
	username = flxbe
	email = felix.bernhardt@mailbox.org
	name = Felix Bernhardt
[pull]
	rebase = false
